
$main-color:    #7272ff   !default;
$second-color:  #8585bd   !default;
$third-color:   #d4ccff   !default;
$body-color:    #f7f8fc   !default;

$white:         #fff      !default;
$black:         #2e2545   !default;

$success:       #4BB543   !default;
$error:         #FF3333    !default;
